

/* regole di debug */

#no_padding {
  padding-left: 0;
  padding-right: 0;
}
/* [class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
} */

/* .row .col-6 div  */
/* [class*="col-"] > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
} */
/* fine regole di debug */

/* Regole navbar  */

#nav_bar_bg {
  background-color:#fff;
  border-color: #fff;
}

#button_set {
  color:#9dc5ff;
  border-color: #9dc5ff;
}

#logo_nav {
  padding: 8px 10px 0 10px;
}

#logo_nav > img {
  text-align: center;
  height: 30px;
}

/* Regole section 1 */
#bg_section1 {
  background-image:url(../img/home.jpg);
  background-size: cover;
  min-height: 500px;
}

.text_section_1 h1 {
  font-size: 60px;
  color:white;
  padding-top:60px;
}

.text_section_1 p {
  font-size: 24px;
  color:white;
}

.sign_in {
  text-align: center;
  width: 80%;
  margin:auto;
  background-color: white;
  padding:20px 10px 20px 10px;
  margin-top: 80px;
  border-radius: 10px;
}

.sign_in h1{
  font-size: 25px;
}

.sign_in h2 {
  color:blue;
  font-size: 25px;
}

.sign_in button {
  width: 100%;
  margin-bottom: 10px;
}

.img_google {
  width: 15px;
  float:left;
  padding-top: 3px;
}

.terms {
  margin:10px 0 0 10px;
}

.terms a {
  text-decoration: underline;
}
/* Regole section 2 */

#bg_section2 {
  background-color: #f3f5f9;
}

#bg_section2 img {
  width: 100%;
  max-height: 85px;
}

#bg_section2 h4 {
  margin:40px 0 40px 0;
}

.link_section2  {
  margin: 40px 0 40px 0;
}

.link_section2 a {
  font-size: 15px;
}

/* regole section 3 */

.border_section3 h1 {
  margin-top:60px;
}

.border_section3 h4 {
  margin:10px 0 60px 0;
}

.menu_list {
  border-left: 1px solid black;
}

.menu_list span {
  display: block;
  padding: 10px;
}

.menu_list span:hover {
  transition: all 0.2s ease-in-out;
  background-color: lightgrey;
}

.menu_list a {

  font-size: 15px;
  text-decoration: none;
  color:black;
}

/* Regole section 4  */

#bg_section4_7 {
  background-color: lightgrey;

}

  /* Regole debug */
#carousel img {
  max-width: 50%;
}
/* fine regole debug */

/* regole section 6 */

#bg_section6 {
  background-color: blue;
}

#border_section6 {
  border-bottom: 1px solid black;
}

/* #ms_border {
  border-bottom: 1px;
  border-color:black;
} */

/* regole section 7 */


/* regole footer section 1 */

#bg_footer_section1 {
  background-color: blue;
}

/* regoler footer section 2 */

#bg_footer_section2 {
  background-color: darkblue;
}

#social i {
  font-size: 22px;
  color:lightgrey;
}

#social a {
  margin-right: 5px;
  text-decoration: none;
}

.footer_link li {
  list-style: none;
}

.footer_link ul {
  padding-left: 0;
}

.footer_link a {
  text-decoration:none;
  color:lightgrey;
}
