 /* Regole di debug */

/* img {
  max-width: 100%;
  height: auto;
} */


/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
}

/* .row .col-6 div  */
[class*="col-"] > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}
/* fine regole di debug */


/* Regole section 1 */
#bg_section1 {
  background-image:url(../img/home.jpg)
}

/* Regole section 2 */

#bg_section2 {
  background-color: lightgrey;
}

/* Regole section 4  */

#bg_section4 {
  background-color: lightgrey;
}

#carousel img {
  max-width: 50%;
}
